*{
    box-sizing: border-box;
}

.testimonial {
    font-size: 1.25rem;
  }
  
  .testimonial__list {
    width: 80%;
    margin: auto;
  }

  /* pseudo-selector to make sure that the first testimonial 
  container has a top margin of 96px not the others just the first.*/
  
  .testimonial:first-of-type {
    margin-top: 6rem;
  }

  .testimonial__image-container {
    width: 100%;
    max-width: 40rem;
    vertical-align: middle;
    box-shadow: 3px 3px 5px 3px rgba(0,0,0,0.3);
    margin: 0 8px;
  }

  .testimonial__image {
    width: 100%;
    vertical-align: top;
  }
  
  .testimonial__info {
    text-align: left;
    padding: 0.7rem;
  }
  
  #customer-2.testimonial {
    text-align: right;
  }
  
  /*#customer-2 .testimonial__info {
    text-align: left;
  }*/
  
  .testimonial__name {
    margin: 0.1875rem;
    color: #ff5454;
  }
  
  .testimonial__subtitle {
    margin: 0;
    font-size: 1.125rem;
    color: #ccc;
  }
  
  .testimonial__subtitle a {
    color: inherit;
    text-decoration: none;
  }
  
  .testimonial__subtitle a:hover,
  .testimonial__subtitle a:active {
    color: #7a7a7a;
  }
  
  .testimonial__text {
    margin: 0.1875rem;
  }
  
  @media (min-width: 41.625rem) {

    .testimonial__info {
      text-align: right;
      padding: 0.875rem;
      width: 30%;
    }

    .testimonial__image-container {
      margin: 0%;
      width: 66%;
    }

    .testimonial {
      margin: 4.3rem 0;
      max-width: 93.75rem;
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }

    #customer-2 {
      justify-content: flex-end;
    }

    .testimonial__info {
      text-align: right;
      padding: 0.875rem;
    }

    #customer-2 .testimonial__info {
    text-align: left;
    }

    #customer-1 .testimonial__info {
      text-align: right;
      }

      main + div {
        display: flex;
        flex-direction: column;
      }
  }